.h-6{
    display: none;
}

.filament-breadcrumbs{
    display: none;
}

.relative {
    margin-right: 0.5rem;
}

.filament-global-search {
    margin-left: 50rem;
}

.bg-black{
    background-color: rgb(0 0 0);
}

.text-gray-500{
    --tw-text-opacity: 1;
    color: rgb(100 116 139 / var(--tw-text-opacity));
}

.text-orange-500{
    --tw-text-opacity: 1;
    color: rgb(234 179 8 / var(--tw-text-opacity));
}

.text-red-500{
    --tw-text-opacity: 1;
    color: rgb(239 68 68 / var(--tw-text-opacity));
}

.text-lime-500{
    --tw-text-opacity: 1;
    color: rgb(34 197 94 / var(--tw-text-opacity));
}

/*TODO dont work*/

.filament-sidebar-open-button{
    display: none;
}
